/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");

/* My own styles */
body {
  font-size: 16px;
  line-height: normal;
}

h1 {
  color: #003f5e;
  font-size: 42px;
  text-align: center;
  margin: 40px 0;
}

h2 {
  color: #e61978;
  font-size: 30px;
}

h3 {
  color: rgb(31, 117, 0);
  font-size: 26px;
  font-style: italic;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  line-height: inherit;
  margin-bottom: 10px;
}

.main-section-container {
  max-width: 680px;
  margin: 0 auto;
}

div[class*='__section'] {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text {
  margin: 20px 0;
  color: black;
}

.section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-first .section-text {
  color: red;
  font-weight: 500;
}

.section-second p {
  color: lightsalmon;
  font-weight: 500;
}

.section-second p ~ p {
  color: olivedrab;
}

.short-info__section a {
  color: greenyellow;
  text-decoration: underline;
}

footer img {
  margin: 0 auto;
  display: block;
}