/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("fonts.css");

/* My own styles */
[class*='__container'] {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.banner-first {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.66;
  color: #E5E5E5;
  height: 600px;
  background: url('../img/banner.jpg') no-repeat center / cover, #212529;
}

.banner-elements {
  max-width: 605px;
  padding-top: 365px;
}

.banner-elements div[class*='element'] {
  margin-bottom: 15px;
}

.banner-first .banner-elements .element-text {
  margin-bottom: 0;
}

.element-title h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.6;
  color: #F8F9FA;
}

.banner-second {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #637381;
  height: 560px;
  background: url(../img/banner-gradient_first.png) no-repeat right / contain, url(../img/banner-gradient_second.png) no-repeat right / contain, #F4F7FF;
}

div[class*='banner-section'] {
  display: inline-block;
  vertical-align: top;
}

.banner-second .banner__container {
  height: inherit;
}

.banner-second .banner-elements {
  max-width: 570px;
  padding-top: 145px;
}

.banner-second img {
  display: block;
  padding-top: 81px;
  padding-left: 179px;
}

.banner-second .element-under-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #3056D3;
}

.banner-second .element-title h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  color: #212B36;
}

.banner-second .element-link a {
  color: white;
  padding: 10px 30px;
  background-color: #3056D3;
  border-radius: 30px;
  display: inline-block;
}


.banner-second .banner-elements .element-under-title {
  margin-bottom: 13px;
}

.banner-second .banner-elements .element-text {
  margin-bottom: 35px;
}

.banner-second .banner-elements .element-link {
  margin-bottom: 0;
}

.main-section {
  background: rgb(11,142,116);
  background: linear-gradient(156deg, rgba(11,142,116,1) 0%, rgba(208,227,226,1) 35%);
}

.body-wrp {
  padding: 100px 0;
}

.body-wrp h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.08;
  color: #212B36;
  margin-bottom: 45px;
}

.section-list {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.94;
  color: #637381;
}

.section-list ul {
  margin-bottom: 60px;
}

.section-list li {
  margin-bottom: 18px;
  padding-left: 18px;
  background: url(../img/list-1-icon.svg) no-repeat left center;
}

.section-list .list-2 li {
  background-image: url(../img/list-2-icon.svg);
  padding-left: 30px;
  line-height: 20px;
}

.section-list .list-3 li {
  background-image: url(../img/list-3-icon.svg);
  padding-left: 30px;
  line-height: 20px;
}

.section-list .list-4 li {
  background-image: url(../img/list-4-icon.svg);
  padding-left: 30px;
  line-height: 20px;
}

.section-list .list-5 li {
  background-image: url(../img/list-5-icon.svg);
  padding-left: 30px;
  line-height: 20px;
}

.section-list .list-6 {
  margin-bottom: 0;
}

.section-list .list-6 li {
  background-image: url(../img/list-6-icon.svg);
  padding-left: 28px;
  line-height: 20px;
}